html {
    &.has-scroll-smooth{
        overflow: hidden;
    }
}

.locomotive-scroll-container{
    position: relative;
    overflow: hidden;
}

.c-scrollbar{
    position: absolute;
    right: 0;
    top: 0;
    width: 3px;
    height: 100vh;
    transform-origin: center right;
    transform: scaleX(1);
    transition: transform .1s linear;

    &:hover{
        transform: scaleX(1.5);
        cursor: grab;
    }

    .c-scrollbar_thumb{
        background-color: $black;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}