{#
|
| Footer
|---------
#}
<footer id="footer" class="">
    <div class="container">
        <div class="cms-no-break fs-xs c-white">
            {{ options.footer_copyright }}
        </div>
    </div>
</footer>