{% extends 'layout.twig' %}

{% block content %}
<div id="page-home" data-kira-timeline-onload="data-kira-timeline-onload" data-kira-timeline-onload>
    
        {#
        |
        | Section Banner
        |-----------------
        #}
        
        <h1 data-kira-item="fadeInUp.parallax.sm" data-start="0.5" class="font-extra mb-md title-xl">Get immersed into breath-taking landscapes</h1>
        <p data-kira-item="fadeInUp.parallax.sm" data-start="0.5" class="mb-lg">Dive into outstanding immersive experiences and discover the most beautiful places around the world. 3, 2, 1. Go!</p>        
        
        {% for key, value in posts %}
        <div class="row" data-kira-timeline> 
            <div class="col-sm-12">
                <a data-kira-item="fadeInUp.parallax.sm"  data-start="1"class="mb-xl" href="{{ value.link }}" style="background-image: url('{{ value.thumbnail.src }}'); background-position: center; background-size: cover;width:80%;height:400px;"></a>
            </div>
            <h2 data-scroll data-scroll-speed="1">Hello Loco</h2>
            <h2 data-scroll data-scroll-speed="3" data-scroll-direction="horizontal">Hello Loco 2</h2>
        </div>
        {% endfor %}
        
        
</div>
{% endblock %}
    
    