{% extends 'layout.twig' %}

{% block content %}

    <div id="page-home" data-scroll-container>

        {#
        |
        | Section Content
        |------------------
        #}
        <section class="section bg-black b-white">
            <div style="position:absolute;top:0px;width:100%;height:100%">
                <div style="position:relative;">
                        <canvas class="scene" id="bubble" style="z-index:1000; width:100% !important; max-width:100% !important; height:800px !important;max-height:800px !important;"></canvas>
                </div>
            </div>  
            <div class="container mb-xl-child-not-last" data-kira-timeline-onload>   
                <div class="row">
                    <div class="col-md-8">     
                        <h1  class="title-xxl mb-xl c-white lh-xs" style="font-family:'hikou-outline';" data-kira-item="typed">FUTURE<br/>STARTS<br/>HERE. {{ title }}</h1>
                        <h2  class="title-md lh-lg c-white" style="text-transform:uppercase;" data-kira-item="fadeInUp.parallax.sm">This website intends to feature what internet will be in the future (2042).<br />We believe websites will become "sensitive", reacting to users gestures, eyes and voice.</h2>
                    </div>
                </div>
            </div>            
        </section>
        <section class="section bg-light-grey b-white">
            <div class="container mb-xl-child-not-last" data-kira-timeline>
                        <div class="col-md-12">     
                            <h2  class="c-black mb-lg title-xl lh-lg heavy" data-kira-item="fadeInUp.parallax.sm" data-start="0.2"> <span class="sensitivetext">How to use this "sensitive" website?</span></h2>
                            <p class="title-md c-black mb-sm lh-lg" data-kira-item="fadeInUp.parallax.sm">Move your head 🙂 up and down to scroll.</p>
                            <p class="title-sm c-black mb-md lh-lg" data-kira-item="fadeInUp.parallax.sm">Stop head detection by clicking the eye on the top right panel bar.</p>
                            <br />
                            <p  class="title-md c-black mb-sm lh-lg" data-kira-item="fadeInUp.parallax.sm" data-start="0.5">Press key "M" (mic) to start voice recognition 🎙and say where you want to go.</p>
                            <p  class="title-sm c-black lh-lg" data-kira-item="fadeInUp.parallax.sm" data-start="0.5">Discover <a href="#positioninnovations" class="link-dark-grey underlinelink">innovations</a>, read our <a href="#positionmanifesto" class="link-dark-greyy underlinelink">manifesto</a> summarizing our forecasts for the future, read <a href="#positioncontact" class="link-dark-grey underlinelink">about</a> us and <a href="#positioncontact" class="link-dark-grey underlinelink">contact us</a></p>
                        </div>
            </div>            
        </section>
        <section id="positionmanifesto" class="section bg-black b-white" data-scroll-section>
            <div class="container mb-xl-child-not-last" data-kira-timeline>
                        <div class="col-md-12" data-scroll data-scroll-speed="2" >     
                            <h2  class="c-white title-lg mb-lg heavy" data-kira-item="fadeInUp.parallax.sm" data-start="0.2"><span class="sensitivetext">Manifesto</span></h2>
                        </div>
                        <div class="col-md-12" data-scroll data-scroll-speed="3" >
                                <div class="bg-black">
                                    <p class="c-white mb-md title-md lh-md" data-kira-item="fadeInUp.parallax.sm">Web in the 2000's and 2010's was an inert object. Sensitive web able to detect human behavior as gesture, head, eyes, voices appear in 2020's</p>
                                    <p class="c-white mb-md title-md lh-md" data-kira-item="fadeInUp.parallax.sm">"Loaders" disapeared thanks to 6G. Web pages appear instantly.</p>
                                    <p class="c-white mb-md title-md lh-md" data-kira-item="fadeInUp.parallax.sm">Interfaces tend to disapear, technology being more and more directly connected to humans (lens, implants...).</p>
                                    <p class="c-white mb-md title-md lh-md" data-kira-item="fadeInUp.parallax.sm">Technology was previously mainly dedicated to entertainment. Health is the new challenge.</p>
                                    <p class="c-white mb-md title-md lh-md" data-kira-item="fadeInUp.parallax.sm">Google gathers all data. The only remaining websites are dedicated to brands which need a very special user experience.</p>
                                </div>
                        </div>              
            </div>            
        </section>
        <section class="section bg-light-grey b-white" id="positionabout" data-scroll-section>
            <div class="container mb-xl-child-not-last">
                <div class="row" >    
                    <div class="col-md-6 mb-lg" data-scroll data-scroll-speed="2">     
                        <h2  class="c-black mb-xl title-lg heavy"><span class="sensitivetext">About Antoine Gastal & Adveris</span></h2>
                        <p class="c-black title-sm lh-xl">Adveris is a leading digital agency based in Paris. Founded in 2009 by Alexandre, Mathieu and Antoine, the agency gathers by now about 50 people, commited to create oustanding digital experiences for brands.</p>
                        <br />
                        <p class="c-black title-sm lh-xl">Antoine Gastal is member of Awwwards wordlwide jury since 2018. After creating <a href="https://2017.live-ai.com" target="_blank">Live-ai.com</a> in 2017, The aim of this website is to explore the future of technology.</p>
                        <br />
                        <p class="c-black title-sm lh-xl">2042 is an allusion to the number 42 considered as "special" by tech litterature and the whole tech industry.</p>
                        <br />
                        <p class="c-black title-sm lh-xl">Special thank to: <a href="https://handsfree.js.org" target="_blank"rel="nofollow">Handsfree.js.org</a> for head detection and MDN for <a href="https://github.com/mdn/web-speech-api" target="_blank"rel="nofollow">Web Speech API</a>, <a herf="https://codepen.io/supah" target="_blank"rel="nofollow">Fabio Ottaviani</a> for Three.JS animation.</p> 
                    </div>
                    <div class="col-md-6 lg-down-mb-lg" data-scroll data-scroll-speed="2">                        
                        <div class="images-container md-down-mb-lg">
                            <div class="item-big-img bg-img-portrait" data-scroll data-scroll-speed="2" style="background-image: url('{{ theme.path }}/web/src/img/global/antoine-gastal.png');background-size: cover;"></div>
                            <div class="item-small-img bg-img-portrait-lg" data-scroll data-scroll-speed="1" style="background-image: url('{{ theme.path }}/web/src/img/global/adveris.jpg');background-size: cover;"></div>
                        </div>
                    </div>
                </div>        
            </div>            
        </section>
        <section class="section bg-black b-white" id="positioncontact" data-scroll-section>
            <div class="container mb-xl-child-not-last" data-kira-timeline>
                <div class="row" data-scroll data-scroll-direction="horizontal">   
                        <div class="col-md-12">     
                            <h2  class="c-white title-lg mb-md heavy" data-scroll-position="top" data-kira-item="fadeInUp.parallax.sm" data-start="0.2"><span class="sensitivetext">Contact us!</span></h2>
                        </div>
                        <div class="col-md-12">
                            <div data-scroll-delay="0.05" class="bg-black">
                                <p class="c-white title-sm lh-lg" data-kira-item="fadeInUp.parallax.sm">Hey 👋, do not hesitate to send innnovations you spotted to hello@2042.io</p>
                            </div>
                        </div>  
                </div>            
            </div>            
        </section>
        <section class="section bg-light-grey b-white" id="positioninnovations">
            <div class="container mb-xl-child-not-last" data-kira-timeline>
                
                        <div class="col-md-12">     
                            <h2  class="c-black title-lg mb-lg heavy" data-kira-item="fadeInUp.parallax.sm" data-start="0.2"><span class="sensitivetext">News about innovation</span></h2>
                        </div>

                        <div class="row">
                            {% include 'news/render/news-list.twig' with { posts: posts } %}
                        </div>              
            </div>            
        </section>
    </div>
{% endblock %}
