{% extends 'layout.twig' %}

{% block content %}
    <div id="page-home">

        {#
        |
        | Section Banner
        |-----------------
        #}
        {{ global.banner({
            'title': translations.yagami_demo_title,
            'image': img ~ '/global/theme.jpg',
            'content': translations.yagami_demo_content
        }) }}


        {#
        |
        | Section Content
        |------------------
        #}
        {% set titlesType = {
            'title-xxl' : "Im a XXLarge title",
            'title-xl' : "Im a XLarge title",
            'title-lg' : "Im a Large title",
            'title-md' : "Im a Medium title",
            'title-sm' : "Im a Small title",
            'title-xs' : "Im a Xsmall title"
        } %}

        <section class="section">
            <div class="container mb-xl-child-not-last">
                {% for class, title in titlesType %}
                    <div>
                        <h2 class="{{ class }} mb-md">{{ title }}</h2>
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="cms">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum vitae sunt rem eveniet, doloremque quaerat! Laboriosam labore sunt porro nostrum eaque vero rerum quo iste. Asperiores harum odio similique aliquid.
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
            </div>            
        </section>
    </div>
{% endblock %}
