/*
|
| Panel Summary
|-------
*/

#detection-panel {
    background-color:#141414;
    position:fixed;
    top:0;
    right:0;
    font-size:14px;
    z-index:10;
    text-align:center;
    padding-top: 11px;
    padding-bottom:12px;
}

#btn-panel {
  border:1px solid #000000;
  cursor:pointer;
}
#btn-panel-close {
  border:1px solid #000000;
  cursor:pointer;
}

#btn-head-start {
  cursor:pointer;
  color:grey;
}

#btn-head-stop {
  cursor:pointer;
}

#btn-head{
  border:1px solid #000000;
}

/*
|
| DETECTION - HEAD
|---------------
*/

.handsfree-pointer {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #000000;
    border: 3px solid #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    display: none;
    opacity: 30%;
    filter: alpha(opacity=30);
    -moz-opacity:0.3;
    -khtml-opacity: 0.3;
  }
  
  .handsfree-pointer.handsfree-pointer-2 {
    border-color: #0f0;
  }
  
  .handsfree-started .handsfree-pointer {
    display: block;
  }
  
  .handsfree-hidden {
    display: none !important;
  }


.handsfree-debugger, .handsfree-canvas
{
position: fixed !important;
right: 0px;
top: 0px;
z-index: 20;
height: 60px;
width:80px
}

.handsfree-canvas 
{
position: fixed !important;
right: 5px;
top: 0px;
z-index: 2;
height: 60px;
}

  /*
|
| DETECTION - VOICE
|---------------
*/

  #voice-status {
    border:1px solid #000000;
    text-align:left !important;
    cursor: pointer;
    }
   
  #menu a {
    color:#FFF294 !important;
    }

  .outputshort {
      min-width:120px;
    }


/*
|
| Titles sensitive hover
|---------------
*/
.sensitivetext {
      transition: all .001s ease-in-out;
      &:hover {
          font-variation-settings: 'wght' 502;
      }
    }

/*
|
| Status Listening
|---------------
*/

    .blink {
      -webkit-animation: 1s linear infinite condemed_blink_effect; // pour Safari 4.0-8.0
      animation: 1s linear infinite condemed_blink_effect;
    }
    @-webkit-keyframes condemed_blink_effect { // pour Safari 4.0-8.0
      0% {
        visibility: hidden;
      }
      50% {
        visibility: hidden;
      }
      100% {
        visibility: visible;
      }
    }
    @keyframes condemed_blink_effect {
      0% {
        visibility: hidden;
      }
      50% {
        visibility: hidden;
      }
      100% {
        visibility: visible;
      }
    }