{#
|
| Cookie Banner
|----------------
#}
<section class="cookie-banner bg-very-dark-grey c-light-grey">
    <div class="container">
        <div class="row ai-center">
            <div class="col-sm-1 offset-sm-1 offset-lg-3 order-sm-2 ta-r">
                <button class="item-close c-light-grey">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="col-sm-10 col-lg-8 order-sm-1">
                <div class="cms mb-sm">
                    {{ options.cookies_banner_text }}
                </div>
                <div class="links-white">
                    <a href="#" class="item-accept mr-sm">Accepter</a>
                    <a href="#" class="item-refuse">Refuser</a>
                </div>
            </div>
        </div>
    </div>
</section>