{% extends 'layout.twig' %}

{% block content %}
	<div id="page-cms">

        {#
        |
        | Section Banner
        |-----------------
        #}
        {{ global.banner({
            'title': post.title,
            'image': img ~ '/global/theme.jpg'
        }) }}


        {#
        |
        | Section Content
        |-----------------
        #}
        <section class="section">
            <div class="container">
                <div class="cms">
                    {{ post.content|raw }}
                </div>
            </div>
        </section>
    </div>
{% endblock %}