/*
|--------------------
|     PAGE HOME
|--------------------
*/


.item-container{
    padding-top: 8.5vw;
}

.images-container{
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 90px;

    .item-big-img{
        position: relative;
    }

    .item-small-img{
        position: absolute;
        z-index: 1;
    }

    .item-big-img{
        width: 80%;
    }

    .item-small-img {
        width: 80%;
        height:40%;
        bottom: 0;
        left: 0;
    }
}
